@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>My Closet</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis blandit scelerisque justo, efficitur sodales nunc suscipit id. Vivamus efficitur pellentesque arcu, ultricies molestie orci. Nulla eros est, cursus vitae turpis vitae, blandit cursus magna. In dignissim, dolor vel euismod posuere, odio neque vehicula enim, id blandit mi sapien non purus. Cras lectus purus, hendrerit et diam et, aliquam placerat erat. Suspendisse quis nunc aliquet, sodales ligula ac, feugiat dolor. Donec efficitur justo justo, quis egestas diam condimentum vel. Maecenas vestibulum porta dui id eleifend. Morbi placerat enim id nunc mattis maximus. Aliquam molestie euismod mi, id tristique sem rhoncus nec.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>