@{
    ViewBag.Title = "Home Page";
}

<div class= "jumbotron">
    <h1>My Closet</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis blandit scelerisque justo, efficitur sodales nunc suscipit id. Vivamus efficitur pellentesque arcu, ultricies molestie orci. Nulla eros est, cursus vitae turpis vitae, blandit cursus magna. In dignissim, dolor vel euismod posuere, odio neque vehicula enim, id blandit mi sapien non purus. Cras lectus purus, hendrerit et diam et, aliquam placerat erat. Suspendisse quis nunc aliquet, sodales ligula ac, feugiat dolor. Donec efficitur justo justo, quis egestas diam condimentum vel. Maecenas vestibulum porta dui id eleifend. Morbi placerat enim id nunc mattis maximus. Aliquam molestie euismod mi, id tristique sem rhoncus nec.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<!--Setting up thumbnails for each view as way to help with the flow of the application-->
<div class="row">
    <div class="col-md-3">
        <div class="thumbnail">
            <div class="caption">
                <img srcset="irc_mut i2mMa7Ici3O8-HwpH6ZlgJaI"  alt="Image result for thumbnails of womens programmer shirts" onload="google.aft&amp;amp;google.aft(this)" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT84IYOyXjyooS7y7n6EGvcXNWGuwaGPH9zLeGiAetiE-P_NLRB" width="235" height="200" style="margin-top: 24px;">
                <h2>Tops</h2>
                <p>Curabitur elementum vel tortor vitae placerat. Sed non augue ac lacus consequat varius vitae a augue. Mauris leo dolor, interdum quis est quis, condimentum commodo tortor. Mauris quis tempor erat, et semper ipsum. Duis malesuada turpis diam, quis condimentum leo ultricies non. Suspendisse fringilla orci et eros pretium hendrerit. Aliquam condimentum vehicula fermentum. Integer.</p>
                <!--changing the way the buttons look-->
                <p><a href="http://asp.net" class="btn btn-primary btn-lg">Add a Top &raquo;</a></p>
            </div>
        </div>
    </div>

            <div class="col-md-3">
                <div class="thumbnail">
                    <div class="caption">
                        <img class="irc_mi" src="http://www.polishpride.com/thumbnail.asp?file=assets/images/pants/thumbnails/polish_shorts_dupa_red_thumbnail.jpg&amp;maxx=150&amp;maxy=0" onload="google.aft&amp;amp;google.aft(this)" width="220" height="150" style="margin-top: 25px;" alt="Image result for thumbnails of ladies pants">
                        <h2>Bottoms</h2>
                        <p>Aenean tellus metus, facilisis vel feugiat vitae, lobortis a nunc. Ut cursus nisl at tincidunt elementum. Quisque porta aliquam lorem sed pulvinar. Aliquam mollis accumsan commodo. Suspendisse pellentesque semper eros tristique tincidunt. Duis porta venenatis metus, sed sagittis tortor scelerisque pulvinar. Quisque at elit interdum, vulputate eros ac, porttitor magna.</p>
                        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Add Bottoms &raquo;</a></p>
                     </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="thumbnail">
                    <div class="caption">
                        <img src="http://i0.wp.com/radaronline.com/wp-content/uploads/2017/02/justfab-pp.jpg?resize=540%2C400" class="attachment-540x400 size-540x400 wp-post-image" alt="" data-thumbnail="false" width="225" height="200">
                        <h2>Shoes</h2>
                        <p>Aenean tellus metus, facilisis vel feugiat vitae, lobortis a nunc. Ut cursus nisl at tincidunt elementum. Quisque porta aliquam lorem sed pulvinar. Aliquam mollis accumsan commodo. Suspendisse pellentesque semper eros tristique tincidunt. Duis porta venenatis metus, sed sagittis tortor scelerisque pulvinar. Quisque at elit interdum, vulputate eros ac, porttitor magna.</p>
                        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Add Shoes &raquo;</a></p>
                     </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="thumbnail">
                    <img class="irc_mi" src="https://static.vecteezy.com/system/resources/thumbnails/000/138/858/small/autumn-clo.jpg" onload="google.aft&amp;amp;google.aft(this)" width="200" height="150" style="margin-top: 50px;" alt="Image result for thumbnails of ladies accessories">
                    <div class="caption">
                        <h2>Accessories</h2>
                        <p>Etiam egestas enim sed lorem sagittis, ac commodo nibh sagittis. Morbi accumsan nunc commodo suscipit tristique. Sed iaculis elit sed felis laoreet laoreet. Suspendisse aliquet nunc at blandit tempor. Vivamus at dictum nunc. Cras eu hendrerit purus. Maecenas molestie cursus velit. Vestibulum elit orci, posuere ac lectus eget, dictum interdum ligula. Praesent aliquam.</p>
                        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Add Accessories &raquo;</a></p>
                     </div>
                </div>
            </div>
        </div>

        @*Using this bootstrap template to make sure that I have my thumbnails set up correctly*@
        @*<div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="..." alt="...">
                        <div class="caption">
                            <h3>Thumbnail label</h3>
                            <p>...</p>
                            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                        </div>
                    </div>
                </div>
            </div>*@
